body {
  font-family: var(--el-font-family);
}

.el-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.page-title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  color: var(--el-color-primary);
  text-align: center;
}
